body {
    width: 1400px;
    margin: 0 auto;
    text-align: center;
}

.header {
    margin: 0;
}

.content {
    margin: 0;
}

.circle {
    fill: red;
}

.hover {
    fill: yellow;
}

.text {
    font-size: 15px;
}

.footer {
    margin: 0
}